@import "tailwindcss";

@theme {
  --color-dark-950: #030303;
  --color-dark-900: #0a0a0a;
  --color-dark-800: #141414;
  --color-dark-700: #1f1f1f;
  --color-gold-400: #f3e5ab;
  --color-gold-500: #D4AF37;
  --color-gold-600: #aa8c2c;
}

html {
  scroll-behavior: smooth;
}